html,
body {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}


.navbar-brand {
    font-size: x-large;
}

main>.container {
    padding: 60px 15px 0;
}

footer span {
    margin: 0 20px;
}

footer a:hover,footer a:focus{
    color: whitesmoke !important;
    transition: color 0.2s linear;
}


/*  For Mobile */
@media only screen and (max-width: 600px) {
    footer span {
        margin: 10px 0;
        display: block;
    }
}